ai-ta-env/lib/python3.12/site-packages/torch/lib/libtorch_cpu.dylib filter=lfs diff=lfs merge=lfs -text
course-logistics-retriever/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
c_textbook.pdf filter=lfs diff=lfs merge=lfs -text
chroma_db/4401fb4d-4c8b-4751-9d49-ab876fb94f37/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/4401fb4d-4c8b-4751-9d49-ab876fb94f37/header.bin filter=lfs diff=lfs merge=lfs -text
chroma_db/4401fb4d-4c8b-4751-9d49-ab876fb94f37/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_course_name/6e11f3ac-c45c-4301-be21-bb6f466a3945/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_course_name/6e11f3ac-c45c-4301-be21-bb6f466a3945/header.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_course_name/6e11f3ac-c45c-4301-be21-bb6f466a3945/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_course_overview/d9bb09c9-1853-4372-b5c7-f334ac48161b/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_course_overview/d9bb09c9-1853-4372-b5c7-f334ac48161b/header.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_course_overview/d9bb09c9-1853-4372-b5c7-f334ac48161b/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_kc/8eef439e-cf2c-4d12-937d-5366c39ffecd/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_kc/8eef439e-cf2c-4d12-937d-5366c39ffecd/header.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_kc/8eef439e-cf2c-4d12-937d-5366c39ffecd/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_notes/5f8958b6-6ac3-46de-87da-80db44ea546a/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_notes/5f8958b6-6ac3-46de-87da-80db44ea546a/header.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_notes/5f8958b6-6ac3-46de-87da-80db44ea546a/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_notes/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook/b5f1423b-51bb-4c00-aa38-a01906190de4/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook/b5f1423b-51bb-4c00-aa38-a01906190de4/header.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook/b5f1423b-51bb-4c00-aa38-a01906190de4/index_metadata.pickle filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook/b5f1423b-51bb-4c00-aa38-a01906190de4/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook/b5f1423b-51bb-4c00-aa38-a01906190de4/link_lists.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook_c/a4183442-2316-4aac-a81b-f420a95571af/data_level0.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook_c/a4183442-2316-4aac-a81b-f420a95571af/header.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook_c/a4183442-2316-4aac-a81b-f420a95571af/index_metadata.pickle filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook_c/a4183442-2316-4aac-a81b-f420a95571af/length.bin filter=lfs diff=lfs merge=lfs -text
chroma_db_textbook_c/a4183442-2316-4aac-a81b-f420a95571af/link_lists.bin filter=lfs diff=lfs merge=lfs -text
course-logistics-retriever/259a86b0-454b-4c1a-87eb-d61787722f66/data_level0.bin filter=lfs diff=lfs merge=lfs -text
course-logistics-retriever/259a86b0-454b-4c1a-87eb-d61787722f66/header.bin filter=lfs diff=lfs merge=lfs -text
course-logistics-retriever/259a86b0-454b-4c1a-87eb-d61787722f66/length.bin filter=lfs diff=lfs merge=lfs -text
ece120-spring-2022-notes-for-students-1.pdf filter=lfs diff=lfs merge=lfs -text
textbook.pdf filter=lfs diff=lfs merge=lfs -text
